<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haithamghanem.weatherwizard">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cloud_computing"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cloud_computing"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/splashScreenTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkmvNDy1yO0Bu18UG7nKNBC_x4RQImkkY"/>


        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="locale"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.weather.features.alerts.AlertActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Translucent"/>


    </application>

</manifest>